django>=5.0,<6.0
djangorestframework
psycopg2-binary
celery[redis]
django-seed
faker
python-dotenv
django-filter==24.3
django-redis==5.4.0
redis==5.0.1
celery==5.3.6
beautifulsoup4==4.12.3
requests==2.31.0
drf-spectacular==0.27.1